//
   Created by jacek on 2015-05-12.


extends ../layout

block content
    div(class="row")
        div(class="col-lg-8")
            form(class="form-horizontal", action="registration_for_participation", method="post")
                fieldset
                    div(class="page-header")
                        h3 Dołącz do konferencji
                    if error
                        div(class="alert alert-dismissible alert-danger"): p= error
                    div(class="form-group")
                        label(for="file", class="col-lg-2 control-label") Konferencja
                        div(class="col-lg-10")
                            select(name="konferencja", class="form-control")
                                each val in konferencja
                                    option(value=val.id_konferencja)= val.nazwa
                    div(class="form-group")
                        label(for="file", class="col-lg-2 control-label") Hotel
                        div(class="col-lg-10")
                            select(name="hotel", class="form-control")
                                each val in hotel
                                    option(value=val.id_hotel)= val.nazwa
                    div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            button(type="submit", class="btn btn-primary") Dołącz

