//
   Created by Illusion on 2015-05-22.

extends layout
block content
    div(class="row")
        div(class="col-lg-12")
            div(class="page-header")
                h3 Lista referatów
            table(class="table table-bordered")
                each val in ['referat','referat2','referat3']
                    tr
                        td= val
