extends layout

mixin mark_select(name, value)
    - oceny = ['Niedostateczna','Dostateczna','Dobra','Bardzo dobra']
    select(class="form-control", id="select", name=name)
        - oceny.forEach(function(ocena, i) {
            option(value=i, selected=i==value?true:false)= ocena
        - })  

block content
    div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/review_edit/" + edited_review.id_recenzja, method="post")
            fieldset
               h3 Edytuj recenzję
               div(class="form-group")
                  label(for="name", class="col-lg-2 control-label") Nazwa
                  div(class="col-lg-10")
                     input(id="name", type="text", class="form-control", name="nazwa", value=edited_review.nazwa)
               div(class="form-group")
                  label(for="review", class="col-lg-2 control-label") Recenzja
                  div(class="col-lg-10")
                     textarea(id="review", class="form-control", name="tresc")=edited_review.tresc
               h3 Edytuj ocene referatu
               div(class="form-group")
                 label(for="rating", class="col-lg-2 control-label") Zgodność z tematem
                 div(class="col-lg-10")
                    +mark_select('zgod', edited_review.ocena_zgodnosci)
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Oryginalność
                   div(class="col-lg-10")
                    +mark_select('oryg', edited_review.ocena_oryginalnosci)
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Jakość
                   div(class="col-lg-10")
                    +mark_select('jakosc', edited_review.ocena_jakosci)
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Poprawność
                   div(class="col-lg-10")
                    +mark_select('popr', edited_review.ocena_poprawnosci)
               div(class="form-group")
                       label(for="inputPrawa", class="col-lg-2 control-label") Dodatkowe opcje
                       div(class="col-lg-10")
                            div(class="checkbox")
                                label
                                if(edited_review.zatwierdzona === 1)
                                    input(type="checkbox",id="inputOpcje", name="zatwierdz", checked="")
                                    | Zatwierdź do publikacji
                                else
                                    input(type="checkbox",id="inputOpcje", name="zatwierdz")
                                    | Zatwierdź do publikacji
                            div(class="checkbox")
                                label
                                if (edited_review.wyrozniony === 1)
                                    input(type="checkbox",id="inputOpcje", name="wyroznij", checked ="")
                                    | Wyróżnij
                                else
                                    input(type="checkbox",id="inputOpcje", name="wyroznij")
                                    | Wyróżnij
                            div(class="checkbox")           
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Edytuj
