//
   Created by user on 2015-05-22.
extends ../layout
block content
    a(href="/report_articles/dld", class="btn btn-primary") Generuj do pliku .pdf
    h1 Raport o artykułach
    div(class="row")
        div(class="col-lg-10")
                table(class= "table table-bordered")
                    thead
                        tr
                            th Nazwa sesji panelowej 
                            th Nazwa konferencji
                            th Imię uczestnika
                            th Nazwisko uczestnika
                            th Tytuł referatu
                            th Ocena zgodności
                            th Ocena oryginalności
                            th Ocena jakości
                            th Ocena poprawności
                            th Ocena średnia
                            th Imię recenzenta
                            th Nazwisko recenzenta
                    tbody
                        each tmp1 in artykuly
                            tr
                                td= tmp1.sesja
                                td asd
                                td= tmp1.imie
                                td= tmp1.nazwisko
                                td= tmp1.referat
                                td= tmp1.ocenaz
                                td= tmp1.ocenao
                                td= tmp1.ocenaj
                                td= tmp1.ocenap
                                td= tmp1.ocena_sr
                                td= tmp1.imie2
                                td= tmp1.nazwisko2