//
   Created by user on 2015-05-22.
extends ../layout
block content
    a(href="/report_review/dld", class="btn btn-primary") Generuj do pliku .pdf
    h1= "Raport o artykułach oczekujących na wystanienie recenzji"
    div(class="row")
            div(class="col-lg-10")
               h5
                table(class= "table table-bordered")
                    thead
                        
                            th Nazwa sesji
                            th Nazwa konferencji
                            th Imię recenzenta
                            th Nazwisko recenzenta 
                            th Nazwa artykułu
                    tbody
                        each tmp1 in recenzje
                            tr
                                td= tmp1.sesja
                                td= tmp1.konferencja
                                td= tmp1.imie
                                td= tmp1.nazwisko
                                td= tmp1.referat
