
mixin rating(field)
        div(class="rating-stars")
            - for (var i = 0; i < 4; ++i) {
                img(src=i <= review[field] ? "/icons/star_active.svg" : "/icons/star_inactive.svg")
            - }

extends ../layout
block content
    div(class="page-header")
        h3 Podgląd recenzji
        a(href="/paper/" + paper.id_referat) Oceniany referat: #{paper.nazwa}
    h4= review.nazwa
    div
        div(class="inline-label") Zgodność:
        +rating('ocena_zgodnosci')
    div    
        div(class="inline-label") Oryginalność:
        +rating('ocena_oryginalnosci')
    div    
        div(class="inline-label") Jakość:
        +rating('ocena_jakosci')
    div    
        div(class="inline-label") Poprawność:
        +rating('ocena_poprawnosci')
    div(class="inline-label") Wyróżniony:
    input(type="checkbox", disabled, readonly, checked=review.wyrozniony ? true : false)
    p(class="review-content")= review.tresc
    div(class="col-lg-6")
        div(class="page-header")
            h4 Komentarze
        each comment in comments
            div(class="well")
                p= comment.tresc
                small(class="pull-right") #{comment.data} - #{comment.autor}
        form(class="form-horizontal", action="/comment/" + review.id_recenzja, method="post")
            fieldset
                div(class="form-group")
                    textarea(type="text", class="form-control", name="content")
                div(class="form-group pull-right")
                     button(type="submit", class="btn btn-primary") Dodaj