extends ../layout

each temp in conference
    s=temp.nazwa
block content
     
    div(class="page-header")
         
        h3 Wystaw potwierdzenie opłaty dla konferencji:
        h3=conference_name.nazwa
    table(class="table table-striped table-hover")
        thead
            tr
                th id_uzytkownika
                th Imie
                th Nazwisko
                th Nazwa konferencji                
                th Potwierdzenie wpłaty
                th Generowanie wpłaty
            each temp in conference
                tr
                    td= temp.id_uzytkownika
                    td= temp.imie
                    td= temp.nazwisko
                    td= temp.nazwa
                    td
                        if temp.wplata
                            heh="Oplata potwierdzona"
                        else 
                            heh: a(href="/payment_confirm/"+temp.id_przypisanie) Potwierdz oplate
                    td: a(href="/charges/generate_payment/"+conference_name.id_konferencja+"/"+temp.id_uzytkownika) Generuj oplate